/*
Place custom styles here. Thes styles are ment to be loaded after
bootstrap, so the may override it's behavior.
*/

body {
}

// Footer
.footer {
  //background-color: #ffffee;
  //padding: 30px 0;
  //text-shadow: none;
  //@include box-shadow(inset 0 0px 15px rgba(0, 0, 0, .5));
}

.brand a {
  color: #FFC328
}

.btn-report {
  color: rgba(255,255,255,.75);
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

.btn-zoom {
  color: rgba(255,255,255,.75);
  @include buttonBackground($green, $green);
}

.btn-clear {
  color: rgba(255,255,255,.75);
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
  margin-left: 50px;
}

.map-canvas { 
  height: 500px
}

#map-legend {
  background: white;
  padding: 8px;
  font-size: 14px;
}

.submit-select {
  min-width: 200px;
}

input[type="file"] {	
	width: 6.3em \0/IE9;
	height: 1.5em;
	margin: 5px;
}

input[multiple] {
	width: 6.2em \0/IE9;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.response {
	padding-top: 30px;
}

.response>ul {
	list-style-type: decimal;
}

.response li, .response .reqh {
	color: blue;
	font-size: smaller;
	padding-bottom: 5px; 
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px; 
	text-align: center;
	padding-top: 35px; 
}

.drop-box.dragover {
	border: 5px dashed blue;
}

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

/*
poster_button {
	padding: 1px 5px;
	font-size: smaller;
	margin: 0 3px; 
}
*/

.ng-v {
	float: right;
}

.sel-file img {
	float: left;
	width: 18px;
	height: 18px;
	padding-right: 10px;
}

.sub {
	font-size: smaller;
	color: #777;
	padding-top: 5px;
	padding-left: 10px;
}

span.warning {
  color: $warningText;
  //background-color: $warningBackground
}

img.flag {
  max-width: 70px;
  max-height: 140px;
}

td.poster-img {
  max-width: 70px;
}
