div(ng-controller="CrawlAddressCtrl")
  div 
    p {{total_address ? (current_idx + 1) : 0}} / {{total_address}}
  div.states
    button.btn.btn-pre(type=button, ng-click="onPreRecord()")
      div
        p <
    button.btn.btn-next(type=button, ng-click="onNextRecord()")
      div
        p >
    div
      p {{address_text}}
  div.map-canvas(ui-map="myMap", ui-options="mapOptions", ui-event="{'map-idle': 'onMapIdle()'}")
