ul.nav
  li(ng-class="getClass('/view1')")
    a(ng-href='#/view1') view1
  li(ng-class="getClass('/view2')")
    a(ng-href='#/view2') view2
  li(ng-class="getClass('/google_address')")
    a(ng-href='#/google_address') 地址 mapping
