div.modal-header
  h3 我要怎樣子回報?
div.modal-body
  ul
    li 首先把"瀏覽"模式換成"增加發送的路線"模式
    li 在地圖上點所經過的地點
    li 可按下"加現在的位置", 就會直接在地圖上增加現在位置的點 (很適合在手機上使用)
    li 如果有要移除的點, 在移除的點的附近點選即可
    li 按下"回報資料", 填完資料, 即可回報發送的資訊
    li + / - (綠色按鈕) 可以放大/縮小地圖
