div.modal-header
  h3 我要怎樣子回報?
div.modal-body
    p 首先把"瀏覽"模式換成"增加發送的路線"模式
    img(src="/img/howToAddLine1.png", width="60%")
    hr
    p 在地圖上點所經過的地點
    p + / - (綠色按鈕) 可以放大/縮小地圖
    img(src="/img/howToAddLine2.png")
    p 可按下"加現在的位置", 就會直接在地圖上增加現在位置的點 (很適合在手機上使用)
    hr
  
    p 如果有要移除的點, 在移除的點的附近點選即可
    img(src="/img/howToAddLine3.png", width="60%")
    hr
  
    p 按下"回報資料", 填完資料, 即可回報發送的資訊
    img(src="/img/howToAddLine5.png", width="80%")


