nav.nav
  //li(ng-class="getClass('/view1')")
  //  a(ng-href='#/view1') view1
  //li(ng-class="getClass('/view2')")
  //  a(ng-href='#/view2') view2
  li(ng-class="getClass('/map')")
    a(ng-href='#/map') 地圖
  li(ng-class="getClass('/poster')")
    a(ng-href='#/poster') 加文宣

nav.nav
  li.dropdown
    a.dropdown-toggle(data-toggle="dropdown") 更多
    ul.dropdown-menu
      li
        a(ng-click="onHowtoReport()") 我要怎樣子回報?
      li
        a(ng-click="onHowtoAddPoster()") 我要怎樣子加文宣?
      //li.divider
      //li
      //  a(ng-ref='#/feedback') 我想提供建議
