ul.nav
  //li(ng-class="getClass('/view1')")
  //  a(ng-href='#/view1') view1
  //li(ng-class="getClass('/view2')")
  //  a(ng-href='#/view2') view2
  li(ng-class="getClass('/map')")
    a(ng-href='#/map') 地圖
  li(ng-class="getClass('/poster')")
    a(ng-href='#/poster') 加文宣
